.root-div {
    border: 4px black solid;
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
   max-width: 70%;
   margin-left: 0;
   border: 2px black solid;
}

h1 {
    font-weight: normal;
    font-size: 2em;
}

.section-title {
    color: #2f9f45;
    font-weight: 600;
}

.skills-title {
    margin-bottom: 10px;
}

.section-info-title {
    color: #1971c2;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    padding-left: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

section {
    margin-bottom: 30px;
}

p:not(.section-info-title):not(.section-title) {
    margin-top: 0;
    margin-bottom: 0;
}